{% load static %}
<!-- contacts/templates/contacts/contact_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'contacts/style.css' %}">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <a id="HomeBtn" href="/">Home</a>

        <!-- Fetch Contacts button -->
        <!-- <button id="fetchContactsBtn">Fetch Contacts</button> -->

        <!-- Create New Contacts button -->
        <a id="CreateContactBtn" href="/create_contact/">Create New Contacts</a>

        <!-- Search container in the navbar -->
        <div class="search-container">
            <label for="contactIdInput">Search Contact by ID:</label>
            <input type="text" id="contactIdInput" placeholder="Enter contact ID">
            <button id="searchContactBtn">Search</button>
        </div>
    </div>

    <h1>Contact List</h1>
    </div>
    <script src="{% static 'contacts/app.js' %}"></script>
</body>
</html>
