<!-- contacts/templates/contacts/create_contact.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Create Contact</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'contacts/create_contact.css' %}">
</head>
<body>
    <div class="navbar">
        <a id="HomeBtn" href="/">Home</a>
    </div>
    <h1>Create Contact</h1>
    
    <form id="createContactForm" method="post" action="/create_contact_api/">
        {% csrf_token %}
        <label for="firstname">First Name:</label>
        <input type="text" id="firstnam/e" name="firstname" required><br>

        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname" required><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>

        <button type="button" onclick="submitForm()">Submit</button>
    </form>
    <div id="contactIdResult" style="display: none;">
        <h2>Contact ID: <span id="contactId"></span></h2>
    </div>
    <script src="{% static 'contacts/create_contact.js' %}"></script>
</body>
</html>
